.home-content {
  background-color: #ffffe4;
}

.home-header {
  color: grey;
  letter-spacing: 1.5px;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

.home-content p {
  font-size: 1.3em;
  width: 90%;
  border-radius: 5px;
  padding: 0 5px;
  text-align: center;
  margin: 10px auto;
  font-weight: 800;
  position: absolute;
  bottom: 30%;
}

.home-btn {
  background-color: #000;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 10px;
  display: block;
  margin: 30px auto;
  width: 200px;
  height: 60px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}

.home-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: all 1s ease-in-out;
}

.home-hero-img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  opacity: 0.4;
  position: relative;
}

.home-subtitle {
  font-size: 1.8em;
  text-align: center;
  font-weight: 800;
}

.home-product-img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.product-price {
  text-align: center;
}

.product-content {
  background-color: white;
  border: 1px solid #cdcdcd;
  margin: 45px auto;
  border-radius: 10px;
  padding: 30px;
  width: 200px;
  height: 150px;
}

.product-title {
  width: 100%;
  font-size: 0.8em;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 600px) {
  .home-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 150px 120px 50px 70px;
  }

  .home-content p {
    position: static;
  }

  .home-hero-img {
    grid-column: 2;
  }

  .product-container {
    display: flex;
  }
}
