.product-list {
  background-color: white;
  width: 100%;
  border: 1px solid #cdcdcd;
  margin: 25px auto;
  border-radius: 10px;
  padding: 20px;
}

.product-card img {
  display: block;
  margin: 10px auto;
  max-width: 300px;
  object-fit: cover;
  height: 100%;
}

.product-card {
  display: grid;
  grid-auto-rows: 150px 120px 50px 70px;
  text-align: center;
}

.product-title {
  max-width: 90%;
  text-align: center;
  margin: 20px auto;
}

/* .products-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 10px;
  border: 2px blue solid;
} */

.products-container {
  display: grid;
  grid-template-columns: 1fr;
}

.product-btn {
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  font-size: 17px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
}

.product-btn:hover {
  background-color: #333;
}

@media screen and (min-width: 667px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .product-list {
    width: 100%;
    margin: 25px auto;
    border-radius: 10px;
    padding: 0;
  }
}

@media screen and (min-width: 770px) {
  .products-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
}
